
/*===== Header ===== */

header
{
    margin-top: 20vh;
    padding: 0;
    height: 100%;
}
.headerbanner{
    background-size: auto;
    background-position: center;
    transform: translateY(-1rem);
    overflow: hidden;
    -webkit-transform: translateY(-1rem);
    -moz-transform: translateY(-1rem);
    -ms-transform: translateY(-1rem);
    -o-transform: translateY(-1rem);
}
.img-fluid {
    margin-top: 5rem;
    max-width: 100%;
    height: auto;
}


/*===== Barre de navigation ===== */
.nav-item:hover
{
    width: 100%;
    text-align: center;
    background-color: rgb(55, 97, 153);
}
.collapse:not(.show) {
    display: none;
    justify-content: flex-end;
}


/*===== Le mot de la FEDE ===== */
.titlebody
{
    background-image: url('/assets/img/1200px-FFTir_Logo.png');
    background-position: 95%;
    background-size: 75px;
    background-repeat: no-repeat;
}

/*===== Log-In ===== */
