
/*===== Header ===== */
header{
    position: ;
    margin-top: 20vh;
    padding: 0;
    height: 100%;
    background: transparent;
    background-size: cover;
}
.headerbanner{
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.img-fluid {
    margin-top: 7rem;
    margin-bottom: 7rem;
    height: auto;
}

body{
    background: rgb(55, 97, 153);
    background-image: linear-gradient(160deg, 
    rgb(55, 97, 153) 50%, 
    #00000069 100%);
}

/*===== Barre de navigation ===== */

.navbar{
box-shadow: 5px 0px 15px #000;
}
.nav-item:hover{
    width: auto;
    border-radius: 5px;
    text-align: center;
    justify-content: space-between;
    background-color: rgb(55, 97, 153);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.collapse:not(.show) {
    display: none;
    justify-content: space-between;
}
.nav-link {
    display: flex;
    justify-content: center;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.collapse:hover(.show){
    width: auto;
    border-radius: 10px;
    margin-left: -5px;
    background-color: rgb(55, 97, 153);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/*===== Modales ===== */
div.modal-body{
    display: grid;
    padding: 0.5vh;
    justify-content: center;
}
.modal-dialog{
    width: 80%;
    margin: auto;
 }
.close{
    color: red;
    }
