
/*===== Header ===== */
header{
    margin-top: 20vh;
    padding: 0;
    height: 100%;
    background: rgb(245,151,0);
    background: linear-gradient(247deg, rgba(0,151,175,0.25) 0%, rgba(30, 4, 71, 0.5) 65%), url('/assets/img/LRM_EXPORT_11657212108520_20181130_164956651.jpeg');
    background-size: cover;
}
.headerbanner{
    overflow: hidden;
}
.img-fluid {
    margin-top: 7rem;
    margin-bottom: 7rem;
    height: auto;
}

body{
    background: #343A40;
}

/*===== Barre de navigation ===== */
.nav-item:hover{
    width: auto;
    border-radius: 5px;
    text-align: center;
    justify-content: space-between;
    background-color: rgb(55, 97, 153);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.collapse:not(.show) {
    display: none;
    justify-content: space-between;
}
.nav-link {
    display: flex;
    justify-content: center;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.collapse:hover(.show){
    width: auto;
    border-radius: 10px;
    margin-left: -5px;
    background-color: rgb(55, 97, 153);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

/*===== Modales ===== */
div.modal-body{
    display: grid;
    padding: 0.5vh;
    justify-content: center;
}
.close{
    color: red;
    }
