
/*===== Header ===== */
/*
header{
    position: sticky;
    margin-top: 20vh;
    padding: 0;
    height: 100%;
    background: transparent;
    background-size: cover;
}
.headerbanner{
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.img-fluid {
    margin-top: 7rem;
    margin-bottom: 7rem;
    height: auto;
}
*/
.background{
    /*background: rgb(55, 97, 153);
    background: rgb(135, 27, 6);*/
    background: rgb(236, 236, 229);
    background-image: url("../img/STAC_logo-1000x512.png");
    background-repeat: no-repeat;
    background-size: 70%;
    background-position-x: center;
    background-position-y: 13vh;
}

/*===== Barre de navigation ===== */

.nav-item:hover{
    width: auto;
    border-radius: 5px;
    text-align: center;
    justify-content: space-between;
    background-color: rgb(55, 97, 153);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.disconnectButton{
    width: auto;
    border-radius: 5px;
    text-align: center;
    justify-content: space-between;
    background-color: rgb(198, 35, 51);
    border: 1px solid rgb(37, 42, 46);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.disconnectButton:hover{
    width: auto;
    border-radius: 5px;
    text-align: center;
    color: white;
    background-color: rgb(255, 91, 132);
    border: 1px dotted rgb(76, 86, 94);
    box-shadow: 0px 0px 5px rgb(255, 51, 102);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.beginButton{
    width: auto;
    border-radius: 5px;
    text-align: center;
    justify-content: space-between;
    background-color: rgb(40, 167, 69);
    border: 1px solid rgb(37, 42, 46);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.beginButton:hover{
    width: auto;
    border-radius: 5px;
    text-align: center;
    color: white;
    background-color: rgb(87, 230, 120);
    border: 1px dotted rgb(76, 86, 94);
    box-shadow: 0px 0px 5px rgb(87, 230, 120);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.collapse:not(.show) {
    display: none;
    justify-content: space-between;
}
.nav-link {
    display: flex;
    justify-content: center;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.collapse:hover(.show){
    width: auto;
    border-radius: 10px;
    margin-left: -5px;
    background-color: rgb(55, 97, 153);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.usersTableContainer {
    margin-top: 10%;
    background: rgba(248, 249, 250, 0.95);
    /*background: rgba(52, 58, 64,0.95);
    background: rgba(52, 86, 119, 0.95);*/
}

/*===== Footer ===== */
footer{
    height: 10vh;
}

/*===== Card ===== */
.targetCard{
    height: 500px;
    width: 320px;
    margin: auto;
    box-shadow: 0px 2px 10px rgba(83, 81, 76, 0.25);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-image:linear-gradient(0deg, rgba(255, 255, 255, 0.7) 20%, rgba(247, 248, 249, 0.96) 70%);

}
.targetHeaderPix{
    width: 350px;
    height: 350px;
    background-image: url("../img/targetPicture.png");
    background-size: 95%;
    background-repeat: no-repeat;
    background-position-y: 2.5vh;
    background-position-x: center;
}
.containerFormTarget{
    width: 310px;
    height: 140px;
    background-position-x: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.targetNbContainer{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    /*background-color: rgba(103,110,100,0);
    border-style: dashed;
    border-width: 0px 0px 3px 0px;
    border-color:  rgba(40,167,69,0.75);
    */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.scoringHeaderPix{
    width: 310px;
    height: 265px;
    background-image: url("../img/targetPicture.png");
    background-size: 50%;
    background-repeat: no-repeat;
}
.containerFormScoring{
    background-position-x: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.containerHeader{
    height: 220px;
    width: fit-content;
}